outputs/
models/
**/*.yaml
*.yaml
**/*.jpg
*.zip
**/*.zip/
*.jpg
**/*.zip
**/*.json
*.json
**/*.so
*.so
**/*.cu
*.cu
**/*.jsonl
*.jsonl
*.zip
**/*.pth.tar
*.pth.tar
**/*.tiff
*.tiff
**/*.pt
*.pt
**/*.pkl
*.pkl
**/*.pth
*.pth
**/*.err
*.err
**/*.out
*.out
**/*.pyc
*.pyc
**/*.tif
*.tif
**/*.pickle
*.pickle
*.mdb
**/*.mdb
# **/*.png
# *.png
# **/*.pdf
# *.pdf
**/*.tfrecords
*.tfrecord
**/.ipynb_checkpoints/
.ipynb_checkpoints/
/guides
**/.csv
*.csv
